In [2]:
import psycopg2 as pg2

import pandas as pd

import psycopg2
conn = pg2.connect(host='this_postgres', user='postgres',database='postgres')

conn.autocommit = True

cur = conn.cursor()

def select(sql):
    try:
        df = pd.read_sql(sql,conn)
        return df
    except Exception as e:
        print(e)
    return None

def drop(table):
    try:
        cur.execute(f'drop table if exists {table}')
        print(f'table {table} dropped')
    except Exception as e:
        print(e)
    return None

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [3]:
sql = '''select * from printer t'''

In [4]:
df = select(sql)

In [5]:
df

   code model color    type  price
0     1  1276     n   Laser  400.0
1     2  1433     y     Jet  270.0
2     3  1434     y     Jet  290.0
3     4  1401     n  Matrix  150.0
4     5  1408     n  Matrix  270.0
5     6  1288     n   Laser  400.0

In [6]:
sql = '''SELECT * FROM pg_catalog.pg_tables'''

In [8]:
select(sql)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,passenger,postgres,None,True,False,True,False
1,public,pass_in_trip,postgres,None,True,False,True,False
2,public,trip,postgres,None,True,False,True,False
3,public,company,postgres,None,True,False,True,False
4,public,product,postgres,None,True,False,True,False
5,public,laptop,postgres,None,True,False,True,False
6,public,pc,postgres,None,True,False,True,False
7,public,printer,postgres,None,True,False,True,False
8,public,income,postgres,None,True,False,False,False
9,public,outcome,postgres,None,True,False,False,False
10,public,income_o,postgres,None,True,False,False,False
11,public,outcome_o,postgres,None,True,False,False,False
12,public,utq,postgres,None,True,False,True,False
13,public,utb,postgres,None,True,False,True,False
14,public,utv,postgres,None,True,False,True,False
15,pg_catalog,pg_statistic,postgres,None,True,False,False,False
16,public,classes,postgres,None,True,False,True,False
17,public,ships,postgres,None,True,False,True,False
18,public,battles,postgres,None,True,False,True,False
19,public,outcomes,postgres,None,True,False,True,False
20,public,winequality,postgres,None,True,False,False,False
21,pg_catalog,pg_foreign_table,postgres,None,True,False,False,False
22,pg_catalog,pg_authid,postgres,pg_global,True,False,False,False
23,pg_catalog,pg_user_mapping,postgres,None,True,False,False,False
24,pg_catalog,pg_subscription,postgres,pg_global,True,False,False,False
25,pg_catalog,pg_largeobject,postgres,None,True,False,False,False
26,pg_catalog,pg_type,postgres,None,True,False,False,False
27,pg_catalog,pg_attribute,postgres,None,True,False,False,False
28,pg_catalog,pg_proc,postgres,None,True,False,False,False
29,pg_catalog,pg_class,postgres,None,True,False,False,False
30,pg_catalog,pg_attrdef,postgres,None,True,False,False,False
31,pg_catalog,pg_constraint,postgres,None,True,False,False,False
32,pg_catalog,pg_inherits,postgres,None,True,False,False,False
33,pg_catalog,pg_index,postgres,None,True,False,False,False
34,pg_catalog,pg_operator,postgres,None,True,False,False,False
35,pg_catalog,pg_opfamily,postgres,None,True,False,False,False
36,pg_catalog,pg_opclass,postgres,None,True,False,False,False
37,pg_catalog,pg_am,postgres,None,True,False,False,False
38,pg_catalog,pg_amop,postgres,None,True,False,False,False
39,pg_catalog,pg_amproc,postgres,None,True,False,False,False
40,pg_catalog,pg_language,postgres,None,True,False,False,False
41,pg_catalog,pg_largeobject_metadata,postgres,None,True,False,False,False
42,pg_catalog,pg_aggregate,postgres,None,True,False,False,False
43,pg_catalog,pg_statistic_ext,postgres,None,True,False,False,False
44,pg_catalog,pg_rewrite,postgres,None,True,False,False,False
45,pg_catalog,pg_trigger,postgres,None,True,False,False,False
46,pg_catalog,pg_event_trigger,postgres,None,True,False,False,False
47,pg_catalog,pg_description,postgres,None,True,False,False,False
48,pg_catalog,pg_cast,postgres,None,True,False,False,False
49,pg_catalog,pg_enum,postgres,None,True,False,False,False
50,pg_catalog,pg_namespace,postgres,None,True,False,False,False
51,pg_catalog,pg_conversion,postgres,None,True,False,False,False
52,pg_catalog,pg_depend,postgres,None,True,False,False,False
53,pg_catalog,pg_database,postgres,pg_global,True,False,False,False
54,pg_catalog,pg_db_role_setting,postgres,pg_global,True,False,False,False
55,pg_catalog,pg_tablespace,postgres,pg_global,True,False,False,False
56,pg_catalog,pg_pltemplate,postgres,pg_global,True,False,False,False
57,pg_catalog,pg_auth_members,postgres,pg_global,True,False,False,False
58,pg_catalog,pg_shdepend,postgres,pg_global,True,False,False,False
59,pg_catalog,pg_shdescription,postgres,pg_global,True,False,False,False
60,pg_catalog,pg_ts_config,postgres,None,True,False,False,False
61,pg_catalog,pg_ts_config_map,postgres,None,True,False,False,False
62,pg_catalog,pg_ts_dict,postgres,None,True,False,False,False
63,pg_catalog,pg_ts_parser,postgres,None,True,False,False,False
64,pg_catalog,pg_ts_template,postgres,None,True,False,False,False
65,pg_catalog,pg_extension,postgres,None,True,False,False,False
66,pg_catalog,pg_foreign_data_wrapper,postgres,None,True,False,False,False
67,pg_catalog,pg_foreign_server,postgres,None,True,False,False,False
68,pg_catalog,pg_policy,postgres,None,True,False,False,False
69,pg_catalog,pg_replication_origin,postgres,pg_global,True,False,False,False
70,pg_catalog,pg_default_acl,postgres,None,True,False,False,False
71,pg_catalog,pg_init_privs,postgres,None,True,False,False,False
72,pg_catalog,pg_seclabel,postgres,None,True,False,False,False
73,pg_catalog,pg_shseclabel,postgres,pg_global,True,False,False,False
74,pg_catalog,pg_collation,postgres,None,True,False,False,False
75,pg_catalog,pg_partitioned_table,postgres,None,True,False,False,False
76,pg_catalog,pg_range,postgres,None,True,False,False,False
77,pg_catalog,pg_transform,postgres,None,True,False,False,False
78,pg_catalog,pg_sequence,postgres,None,True,False,False,False
79,pg_catalog,pg_publication,postgres,None,True,False,False,False
80,pg_catalog,pg_publication_rel,postgres,None,True,False,False,False
81,pg_catalog,pg_subscription_rel,postgres,None,True,False,False,False
82,information_schema,sql_features,postgres,None,False,False,False,False
83,information_schema,sql_implementation_info,postgres,None,False,False,False,False
84,information_schema,sql_languages,postgres,None,False,False,False,False
85,information_schema,sql_packages,postgres,None,False,False,False,False
86,information_schema,sql_parts,postgres,None,False,False,False,False
87,information_schema,sql_sizing,postgres,None,False,False,False,False
88,information_schema,sql_sizing_profiles,postgres,None,False,False,False,False